<div class="text-center">
  <h1>フォローしている</h1>
  <% if @customers.exists? %>
    <% @customers.each do |customer| %>
      <p><%= customer.last_name %></p>
    <% end %>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
</div>