<div class="text-center">
  <h1 class="w-50 mt-3 pt-3 offset-sm-3"><strong>月間カレンダー</strong></h1>
</div>
    <div class="container">
      <div id="calendar"></div>

        <!-- Modal -->
        <div id="calModal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">レシピ登録</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
              </div>
            </div>
          </div>
        </div>
    </div>
// <script>
$(document).ready(function() {
          $('.fc-daygrid-day-number').click(function() {
            $('#calModal').modal();
          })
        });
// </script>