<div class="text-center">
  <h1 class="w-50 mt-3 pt-3 offset-sm-3"><strong>月間カレンダー</strong></h1>
</div>
    <div class="container">
      <div id="calendar"></div>

        <!-- Modal -->
        <div id="calModal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">レシピ登録</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
              </div>
            </div>
          </div>
        </div>
    </div>
<script>
$(document).ready(function() {
          $('.fc-daygrid-day-number').click(function() {
            // 付随しているaria-labelを取得
            const label = $(this).attr('aria-label')

            // 日付のフォーマットをYYYY-MM-DDにする(年, 月は「-」にして日は空文字に変換)
            const replace_date = label.replace(/年|月/g, '-').replace(/日/g, '')
            const format_date = new Date(replace_date) // 日付初期化
            const YYYY = format_date.getFullYear() // 年の取得
            const MM = format_date.getMonth() + 1 // 月の取得(0スタートのため1を足している)
            const DD = format_date.getDate() // 日付の取得

            // post_created_atのためにフォーマット生成(sliceで2桁の0埋めを実現)
            const post_created_at = YYYY + '-' + ('00' + MM).slice(-2) + '-' + ('00' + DD).slice(-2) + "T00:00:00";

            // post_created_atのデータを書き換え
            $('#post_created_at').val(post_created_at)

            // モーダルの表示
            $('#calModal').modal();
          })
        });
</script>