<h1 class="w-50 mt-3 pt-3 offset-sm-3">人気投稿</h1>
<% if @popular_posts.count > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>作った日</th>
        <th>料理名</th>
        <th>いいね数</th>
      </tr>
    </thead>
    <tbody>
    <% @popular_posts.each do |post|%>
      <tr>
        <td><%= image_tag post.get_post_image(100, 100) %></td>
        <td><%= post.created_at.strftime("%Y/%m/%d") %></td>
        <td><%= link_to post.cook_name, post_path(post) %></td>
        <td><%= post.favorites.count %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
<% else %>
  <h2 class="text-center">いいねされた記事はまだありません</h2>
<% end %>