<% recipes.each do |recipe| %>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <%= link_to "レシピ", post_recipe_path(@post, recipe), class: 'card-title h2' %>
          <p class="card-text"><small class="text-muted"><%= recipe.created_at.strftime('%Y/%m/%d') %></small></p>
          <p class="card-text">
            <% if recipe.customer == current_customer %>
              <%= link_to  post_recipe_path(@post, recipe), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>