<div class="container">
  <div class="row">
    <div class="col-md">
      <h1 class="mt-3 pt-3 text-center">レシピ詳細</h1>
      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th>材料</th>
            <th>分量</th>
          </tr>
        </thead>
        <tbody>
          <% @recipe_ingredients_all.each do |recipe_ingredient| %>
            <tr>
              <td><%= recipe_ingredient.name %></td>
              <td><%= recipe_ingredient.quantity %>個</td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <h2 class="mt-5">工程</h2>
        <hr>
        <%= @recipe.content %>
    </div>
  </div>
</div>