<div class="row mt-4 pt-5">
  <div class="col-lg-3 offset-sm-3" >
    <h2 class="title text-left instagram"><span>プロフィール</span></h2>
     <table class="table mt-5">
       <tbody>
         <tr>
           <th>ニックネーム</th>
           <td>すずしゅん</td>
         </tr>
         <tr>
           <th>出身</th>
           <td>新潟</td>
         </tr>
         <tr>
           <th>趣味</th>
           <td>キャンプ、料理</td>
         </tr>
         <tr>
           <th>私を一言で表すと</th>
           <td>几帳面</td>
         </tr>
       </tbody>
     </table>
  </div>
  <div class="col-lg-5">
    <%=image_tag "suzu.png", width: "50%", height: "85%" %>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 offset-sm-3" >
    <h2 class="title text-left instagram"><span>献立シェアアプリとは？</span></h2>
    <p class="d-flex-auto h5">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">レシピの投稿ができる</li>
        <li class="list-group-item">カレンダーで月の献立を管理できる</li>
      </ul>
    </p>
  </div>
</div>