  <div class="row mt-5 pt-4">
    <div class="col-lg-3 offset-sm-2" >
      <h1 class="title text-left", style="font-family: cursive;">Menu Share App</h1>
      <hr class="my-3">
      <p class="large">
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
      </p>
    </div>
  </div>
  <div class="row mt-3 pt-3">
    <div class="col-lg-3 offset-sm-2" >
      <h1 class="title text-left", style="font-family: cursive;">profile</h1>
      <hr class="my-3">
      <p class="large">
        こんにちは!<br>
        現在、プログラミングスクールで学習しています
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
      </p>
    </div>
    <div class="col-lg-6 offset-lg-1">
      <%=image_tag "suzu.png", width:"50%", height:"70%" %>
    </div>
  </div>
