<div class="container">
  <div class="row">
    <div class="text-center col-md-8">
      <h1>献立共有アプリについて</h1>
    </div>
    <img class="rounded-circle">
      <%= image_tag "suzu.png", width: 400, height: 300 %>
    </img>
  </div>
</div>