<div class="text-center">
  <h1 class="w-50 mt-3 pt-3 offset-sm-3" style="font-family: cursive;"><strong>~ Welcome to Menu Share App ~</strong></h1>
</div>
    <div class="row">
      <div class="col-md-4  mt-5 pt-3">
        <div class="container mt-3">
          <div class="border rounded" style="height:450px">
            <h4 class="text-center">ゲストログインはこちら</h4>
            <h7>出来ること</h7>
              <ul>
                <li>投稿一覧の閲覧</li>
              </ul>
            <%= link_to 'ゲストログイン', guest_sign_in_path, class: "btn btn-secondary w-100", method: :post %>
          </div>
        </div>
      </div>
      <div class="col-md-4  mt-5 pt-3">
        <div class="container mt-3">
          <div class="border rounded" style="height:450px">
            <h4 class="text-center">ログインはこちら</h4>
            <h7>出来ること</h7>
              <ul>
                <li>カレンダー機能</li>
              </ul>
            <%= link_to 'ログイン', new_customer_session_path, class: "btn btn-info w-100" %>
          </div>
        </div>
      </div>
      <div class="col-md-4  mt-5 pt-3">
        <div class="container mt-3">
          <div class="border rounded" style="height:450px">
            <h4 class="text-center">管理者ログインはこちら</h4>
            <h7>出来ること</h7>
              <ul>
                <li>投稿分析機能</li>
              </ul>
            <%= link_to '管理者ログイン', new_admin_session_path, class: "btn btn-success w-100" %>
          </div>
        </div>
      </div>
    </div>