<!--======== MainVisual ========-->

	<section id="mv">
		<div class="container">
			<h2 class="mv-title">献立シェアアプリへようこそ</h2>
			<p class="mv-text">~Enjoy your eating life~</p>
		</div>
	</section>

<!--========= Portfolio ========-->

	<section id="portfolio">
		<div class="container">
			<h2 class="heading">Portfolio</h2>
			<p class="heading-text">
				It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout.<br class="sp-none"> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
			</p>
			<div class="production-group">
				<div class="production bg-1 sp-none"></div>
			</div>
		</div>
	</section>

<!--======== Feature ========-->

	<section id="feature">
		<div class="container">
			<h2 class="heading">Feature</h2>
			<p class="heading-text">
				It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout.<br class="sp-none"> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
			</p>
			<div class="strength-group">
				<div class="strength">
					<i class="fa fa-code" aria-hidden="true"></i>
					<h3 class="strength-title">Strength1</h3>
					<p class="strength-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
				</div>
				<div class="strength">
					<i class="fa fa-desktop" aria-hidden="true"></i>
					<h3 class="strength-title">Strength2</h3>
					<p class="strength-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
				</div>
				<div class="strength">
					<i class="fa fa-cogs" aria-hidden="true"></i>
					<h3 class="strength-title">Strength3</h3>
					<p class="strength-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
				</div>
			</div>
		</div>
	</section>

<!--======== Profile ========-->

	<section id="profile">
		<div class="container">
			<h2 class="heading">Profile</h2>
			<p class="heading-text">It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout.<br class="sp-none"> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
			<div class="profile-group">
				<div class="left-content">
					<div class="my-face"></div>
				</div>
				<div class="right-content">
					<h3 class="description-title">MyName</h3>
					<p class="description-text">
						Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
					</p>
					<h3 class="description-title">MySkills</h3>
					<p class="description-text">HTML/CSS,Rails,JavaScript,JQuery,Git</p>
				</div>
			</div>
		</div>
	</section>

<!--======== Contact ========-->

	<section id="contact">
		<div class="container">
			<h2 class="heading">Contact</h2>
			<p class="heading-text">It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout.<br class="sp-none"> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
			<div class="contact-group">
				<div class="left-content">
					<div class="left-contact-content">
						<h3 class="description-title">Mail</h3>
						<a class="description-text link-text" href="mailto:xxx&#64;xxx.com">suzu&#64;.com</a>
						<h3 class="description-title">Tel</h3>
						<a class="description-text link-text" href="tel:00000000000">000-0000-0000</a>
					</div>
				</div>
				<div class="right-content">
					<div class="right-contact-content">
						<h3 class="description-title">SNS</h3>
						<i class="fab fa-github-square fa-5x" aria-hidden="true"></i>
						<i class="fab fa-twitter fa-5x" aria-hidden="true"></i>
						<i class="fab fa-instagram fa-5x" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>