<div class="text-center">
  <h1 class="w-50 mt-3 pt-3 offset-sm-3"><strong>通知</strong></h1>
    <%= link_to destroy_all_notifications_path, method: :delete do %>
      <i class="fas fa-trash" style="color: black;"></i>
      <h7 style="color: black;">全削除</h7>
    <% end %>
    <hr>
    <% if @notifications.exists? %>
      <div class="customers-index">
        <%= render @notifications %>
      </div>
    <% else %>
      <p>通知はありません</p>
    <% end %>
</div>