<% if obj.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(obj.errors.count, "エラー") %> が発生しています</h4>
      <% obj.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
  </div>
<% end %>